<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Extra-Curricular DCC{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    </head>
    <body>
        <div class="encabezado">
            <div class="left-side">
                <h3>Extra-Curricular DCC</h3>
            </div>
            <div class="right-side">
                {% if session.get("user") and session.get("miembro_id") %}
                    <a href="{{ url_for('logout') }}">
                        <button class="section-linker" value="logout">Cerrar Sesión</button>
                    </a>
                {% else %}
                    <a href="{{ url_for('register') }}">
                        <button class="section-linker" value="registro">Registro</button>
                    </a>

                    <a href="{{ url_for('login') }}">
                        <button class="section-linker" value="login">Iniciar Sesión</button>
                    </a>
                {% endif %}

                <a href="{{ url_for('register_activity') }}">
                    <button class="section-linker" value="actividades">Actividades</button>
                </a>

                <a href="{{ url_for('members') }}">
                    <button class="section-linker" value="miembros">Miembros</button>
                </a>
            </div>
        </div>

        {% block content %}{% endblock %}
    </body>
</html>
