<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Extra-Curricular DCC{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="encabezado">
            <div class="left-side">
                <a href="{{ url_for('index') }}">
                    <h3>Extra-Curricular DCC</h3>
                </a>
            </div>
            <div class="right-side">
                {% if session.get("user") and session.get("miembro_id") %}
                    <a class="section-linker" href="{{ url_for('logout') }}">Cerrar Sesión</a>
                {% else %}
                    <a class="section-linker" href="{{ url_for('register') }}">Registro</a>
                    <a class="section-linker" href="{{ url_for('login') }}">Iniciar Sesión</a>
                {% endif %}

                <a class="section-linker" href="{{ url_for('register_activity') }}">Actividades</a>
                <a class="section-linker" href="{{ url_for('members') }}">Miembros</a>
            </div>
        </div>
        {% block content %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>
