{% extends "interfaces/encabezado.html" %}

{% block title %}Miembros{% endblock %}

{% block content %}
        <div class="container">
            <h1> Consulta de miembros</h1>
            <a class="button" href="{{ url_for('metricas')}}">
                Métricas
            </a>
            <form id="members-query-form" method="GET" action="{{ url_for('members') }}">
                <div class="query-order">
                    <span>Ordenar miembros por:</span>

                    <select name="orden_attr" class="atributo-de-ordenamiento">
                        <option value="">-- Atributo --</option>

                        <option value="nombre" {% if orden_attr == "nombre" %}selected{% endif %}>
                            Nombre
                        </option>

                        <option value="apellido" {% if orden_attr == "apellido" %}selected{% endif %}>
                            Apellido
                        </option>

                        <option value="email" {% if orden_attr == "email" %}selected{% endif %}>
                            Email
                        </option>

                        <option value="fecha_registro" {% if orden_attr == "fecha_registro" %}selected{% endif %}>
                            Fecha registro
                        </option>
                    </select>

                    <select name="orden_dir" class="tipo-de-ordenamiento">
                        <option value="">-- Ordenamiento --</option>

                        <option value="asc" {% if orden_dir == "asc" %}selected{% endif %}>
                            Menor a mayor
                        </option>

                        <option value="desc" {% if orden_dir == "desc" %}selected{% endif %}>
                            Mayor a menor
                        </option>
                    </select>
                </div>

                <button type="submit" class="button visible">
                    Buscar
                </button>
            </form>
            <div class="table-container">
                <table id="members-query">
                    <tr class="table-head">
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Rol</th>
                        <th>Email</th>
                    </tr>

                    {% for miembro in miembros %}
                        <tr
                            onclick="window.location.href='{{ url_for('member_detail', member_id=miembro.id) }}'"
                            style="cursor: pointer;"
                        >
                            <td>{{ miembro.nombre }}</td>
                            <td>{{ miembro.apellido or "" }}</td>
                            <td>{{ miembro.rol or "" }}</td>
                            <td>{{ miembro.email }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="pagination">
                {% if hay_anterior %}
                    <a href="{{ url_for('members', page=pagina-1, tipo=tipo, orden_attr=orden_attr, orden_dir=orden_dir) }}">
                        <button>Anterior</button>
                    </a>
                {% endif %}

                <span>Página {{ pagina }}</span>

                {% if hay_siguiente %}
                    <a href="{{ url_for('members', page=pagina+1, tipo=tipo, orden_attr=orden_attr, orden_dir=orden_dir) }}">
                        <button>Siguiente</button>
                    </a>
                {% endif %}
            </div>
            
        </div>
        
{% endblock %}
{% block scripts %}
<script lang="javascript" src="{{ url_for('static', filename='js/miembros.js') }}"></script>
{% endblock %}