{% extends "interfaces/encabezado.html" %}

{% block title %}Miembros{% endblock %}

{% block content %}
        <div class="container">
            <h1> Consulta de miembros</h1>
            <form id="filters-form">
                <div class="query-filters">
                    <span>Filtrar por: </span>
                    <label>Tipo</label>
                    <select class="tipo-de-actividad">
                        <option value="">-- Seleccione --</option>
                        <option value="Deportiva">Deportiva</option>
                        <option value="Artística">Artística</option>
                        <option value="Tecnológica">Tecnológica</option>
                        <option value="Social">Social</option>
                        <option value="Recreativa">Recreativa</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>
                <div class="query-order">
                    <span>Ordenar por:</span>
                    <select class="atributo-de-ordenamiento">
                        <option value="">-- Atributo --</option>
                        <option value="nombre">Nombre</option>
                        <option value="email">email</option>
                    </select>
                    <select class="tipo-de-ordenamiento">
                        <option value="">-- Ordenamiento --</option>
                        <option value=">">Mayor a menor</option>
                        <option value="<">Menor a mayor</option>
                    </select>
                </div>
                <button type="submit" class="button visible">
                    Buscar
                </button>
            </form>
            <div class="table-container">
                <table id="members-query">
                    <tr class="table-head">
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Actividad</th>
                        <th>Tipo</th>
                    </tr>

                    {% for miembro in miembros %}
                        <tr>
                            <td>{{ miembro.nombre }}</td>
                            <td>{{ miembro.email }}</td>
                            <td>{{ miembro.rol }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="pagination">
                {% if hay_anterior %}
                    <a href="{{ url_for('members', page=pagina-1) }}">
                        <button>Anterior</button>
                    </a>
                {% endif %}

                <span>Página {{ pagina }}</span>

                {% if hay_siguiente %}
                    <a href="{{ url_for('members', page=pagina+1) }}">
                        <button>Siguiente</button>
                    </a>
                {% endif %}
            </div>
            <a href="../interfaces/metricas.html">
                <button class="section-linker" value="metricas">Métricas</button>
            </a>
        </div>
        <script lang="javascript" src="{{ url_for('static', filename='js/miembros.js') }}"></script>
{% endblock %}